<div class="display_content">
  <div class="section_top">
    <div class="section_content">
      <div class="section_title">
        投稿された感謝一覧
      </div>
    </div>
  </div>
  <div class="section_main">
    <div class="section_my_menu">
      <div class="profile_image">
        <img src="assets/gash_yamap.jpg" />
      </div>
      <div class="profile_menu_box">
        <div class="profile_name_box">
          <span class="profile_name">山下 悠介</span><span class="profile_handle_name">hand12.k</span>
        </div>
        <ul class="profile_menu_lists">
          <li class="profile_menu_list">自分が投稿した感謝一覧</li>
          <li class="profile_menu_list">自分あてにきた感謝一覧</li>
          <li class="profile_menu_list"><a href="/users/edit">プロフィールを変更する</a>
          </li>
        </ul>
        <a class="post_surprise_thanks" href="/surprise_thanks/new">感謝を投稿する</a>
      </div>
    </div>
    <div class="section_time_line">

      <%= @surprise_thanks.each do |surprise_thank| %>
        <div class="thank_content">
          <div class="thank_card">
            <div class="thank_header">
              <a href="/surprise_thanks/2"><%= surprise_thank.title %></a>
            </div>
            <div class="thank_body">
              <div class="thank_to_user">
                <%= surprise_thank.dear_name %>
              </div>
              <div class="thank_image">
                <img src="/uploads/surprise_thank/image/2/%E9%96%8B%E7%99%BA%E5%90%88%E5%AE%BF.JPG" />
              </div>
            </div>
          </div>
          <div class="thank_menu">
            <a href="/surprise_thanks/2/edit">編集する</a><a data-confirm="削除します。よろしいでしょうか？" rel="nofollow" data-method="delete" href="/surprise_thanks/2">削除する</a>
            <div class="thank_date">
              <%= surprise_thank.created_at %>
            </div>
          </div>
          <div class="thank_user">
            <div class="thank_user_image">
              <img src="/uploads/user/profile_image/1/%E8%AA%AC%E6%98%8E%E4%BC%9A%E5%B1%B1%E4%B8%8B2.jpg" />
            </div>
            <div class="thank_user_name">
              山下 悠介hand12.k
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>