<div class="display_content_show_page">
  <div class="section_top">
    <div class="section_content">
      <div class="section_title">
        山下 悠介さんから川名へ
      </div>
    </div>
  </div>
  <div class="section_main">
    <div class="surprise_thanks_card_content">
      <div class="surprise_thanks_card">
        <div class="thank_content">
          <div class="thank_card">
            <div class="thank_header">
              <a href="/surprise_thanks/2">もうひとつくらい</a>
            </div>
            <div class="thank_body">
              <div class="thank_to_user">
                川名さんへ
              </div>
              <div class="thank_image">
                <img src="/uploads/surprise_thank/image/2/%E9%96%8B%E7%99%BA%E5%90%88%E5%AE%BF.JPG" />
              </div>
            </div>
          </div>
          <div class="thank_menu">
            <a href="/surprise_thanks/2/edit">編集する</a>
            <a data-confirm="削除します。よろしいでしょうか？" rel="nofollow" data-method="delete" href="/surprise_thanks/2">削除する</a>
            <div class="thank_date">
              2017年12月06日 13:29
            </div>
          </div>
          <div class="thank_user">
            <div class="thank_user_image">
              <img src="/uploads/user/profile_image/1/%E8%AA%AC%E6%98%8E%E4%BC%9A%E5%B1%B1%E4%B8%8B2.jpg" />
            </div>
            <div class="thank_user_name">
              山下 悠介hand12.k
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section_comment">
    <div class="comments">
      <div class="comment">
        <div class="comment_user">
          <img src="/uploads/user/profile_image/1/%E8%AA%AC%E6%98%8E%E4%BC%9A%E5%B1%B1%E4%B8%8B2.jpg" />
          <div class="comment_user_name_box">
            <div class="comment_user_name">
              山下 悠介
            </div>
            <div class="comment_user_handle_name">
              hand12.k
            </div>
          </div>
        </div>
        <div class="comment_text">
          <p>
            コメントもかくかーーーー
          </p>
          <div class="comment_date">
            2017年12月06日 13:46
          </div>
          <div class="comment_links">
            <a href="/surprise_thanks/2/comments/1/edit">編集する</a>
            <a rel="nofollow" data-method="delete" href="/surprise_thanks/2/comments/1">削除する</a>
          </div>
        </div>
      </div>
      <div class="comment">
        <div class="comment_user">
          <img src="/uploads/user/profile_image/1/%E8%AA%AC%E6%98%8E%E4%BC%9A%E5%B1%B1%E4%B8%8B2.jpg" />
          <div class="comment_user_name_box">
            <div class="comment_user_name">
              山下 悠介
            </div>
            <div class="comment_user_handle_name">
              hand12.k
            </div>
          </div>
        </div>
        <div class="comment_text">
          <p>
            ２つくらい
          </p>
          <div class="comment_date">
            2017年12月06日 13:46
          </div>
          <div class="comment_links">
            <a href="/surprise_thanks/2/comments/2/edit">編集する</a>
            <a rel="nofollow" data-method="delete" href="/surprise_thanks/2/comments/2">削除する</a>
          </div>
        </div>
      </div>
    </div>
    <div class="comment_post_form comments">
      <form class="new_comment" id="new_comment" action="/surprise_thanks/2/comments" accept-charset="UTF-8" method="post">
        <input name="utf8" type="hidden" value="&#x2713;" />
        <input type="hidden" name="authenticity_token" value="2WStWYIPoEQSNRiVnTyKmB0KF/mEcR9yB4/x2Qq4cYOv1nKoZbo91kiB1HDGOzEeXMZ7ACkejMjsYNiM3n0c1w==" />
        <div class="comment">
          <div class="comment_user">
            <img src="/uploads/user/profile_image/1/%E8%AA%AC%E6%98%8E%E4%BC%9A%E5%B1%B1%E4%B8%8B2.jpg" />
            <div class="comment_user_name_box">
              <div class="comment_user_name">
                山下 悠介
              </div>
              <div class="comment_user_handle_name">
                hand12.k
              </div>
            </div>
          </div>
          <div class="comment_text comment_form_textarea">
            <textarea placeholder="コメントを入力" name="comment[text]" id="comment_text"></textarea>
            <input type="submit" name="commit" value="コメントする" data-disable-with="コメントする" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>