<div id="header">
  <div id="content_box">
    <div id="left_box">
      <div id="title">
        <a href="/">Surprise Thanks</a>
      </div>
    </div>
    <div id="right_box">
      <div class="buttons">
        <div class="button current_user_box">
          <img src="assets/gash_yamap.jpg" />
          <%= @name %>
        </div>
        <div class="button">
          <a href="/surprise_thanks/new">感謝を投稿する</a>
        </div>
        <div class="button">
          <a rel="nofollow" data-method="delete" href="/users/sign_out">ログアウト</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="top_view">
  <div id="top_title">
    Surprise Thanks
  </div>
  <div id="top_message">
    本人には言えない「ありがとう」を共有する場所
  </div>
</div>
<div class="section">
  <div class="section_title">
    「ありがとう」言えていますか？
  </div>
  <div class="section_message">
    本人の前では恥ずかしくて言えないような「ありがとう」を、ひっそりと共有しましょう！
  </div>
</div>
<div class="section">
  <a class="link_text" href="/surprise_thanks">「ありがとう」の一覧をみる</a>
</div>
